<div class="background">
	<div class="center-div" style="left:30%; top:20%;">
		<div>
			<h1 class="white-bordered-text">DETAIL RESULT</h1><br/>
			<h3 class="white-bordered-text animated rubberBand">FABRIC &nbsp;&nbsp;&nbsp; COTTON</h3><br/>
			<h3 class="white-bordered-text animated rubberBand">MORDENT &nbsp;&nbsp;&nbsp; ALUM</h3><br/>
			<h3 class="white-bordered-text animated rubberBand">DYEING TIME &nbsp;&nbsp;&nbsp; 40 MINUTES</h3><br/>
			<h3 class="white-bordered-text animated rubberBand">DYEING MATERIAL &nbsp;&nbsp;&nbsp; MADDAR</h3><br/>
			<h3 class="white-bordered-text animated rubberBand">MORDENT BATH BEFORE DYEING</h3>
		</div>
		<div>
			<img class="animated slideInDown" src="assets/images/result.png" style="position: absolute;top: 31%;left: 30%;">
		</div>
	</div>
	<a class="back" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
</div>