<div class="background">
	<div class="center-div" style="left:30%; top:32%;">
		<div>
			<h1 class="white-bordered-text" style="font-size:24px;line-height:0.1;letter-spacing: 4px;">DETAIL RESULT</h1><br/>
			<h3 class="white-bordered-text animated rubberBand" style="line-height:0.1;letter-spacing: 2px;">FABRIC &nbsp;&nbsp;&nbsp; COTTON</h3><br/>
			<h3 class="white-bordered-text animated rubberBand" style="line-height:0.1;letter-spacing: 2px;">MORDENT &nbsp;&nbsp;&nbsp; ALUM</h3><br/>
			<h3 class="white-bordered-text animated rubberBand" style="line-height:0.1;letter-spacing: 2px;">DYEING TIME &nbsp;&nbsp;&nbsp; 40 MINUTES</h3><br/>
			<h3 class="white-bordered-text animated rubberBand" style="line-height:0.1;letter-spacing: 2px;">DYEING MATERIAL &nbsp;&nbsp;&nbsp; MADDAR</h3><br/>
			<h3 class="white-bordered-text animated rubberBand" style="line-height:0.1;letter-spacing: 2px;">MORDENT BATH BEFORE DYEING</h3>
		</div>
		<div>
			<img class="animated slideInDown" src="assets/images/result.png" style="position: absolute;top: 0%;left: 24%; width:200px; height:200px;">
		</div>
	</div>
	<a class="back animated bounceIn" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
</div>