html{
  height:100%;
  width:100%;
}
body{
  height:100%;
  width:100%;
  line-height: 2.428571;
  background: url(../assets/images/menubackground-320.png) no-repeat; 
  background-size: cover !important;
}
#container{
  overflow-x: hidden;
  overflow-y: auto;
} 
#logo{
  position: absolute;
  top:1em;
  right:1em;
}
#logo img{
  width:150px;
  height:80px;
}
#homeDiv{
  height:100% !important;
}
#homeDiv *{
  display:block;
  margin-right:0px;
}
#homeDiv img{
  margin-top:100px;
  width: 100%;
  height:100%;
}
#homeLine{
  text-align: center;
}
#homeLine img{
}
#enterButton{

}
#enterBDiv{
  text-align: center;
}
#enterButton2{
}
#enterB2Div{
  text-align: center;
}
.background-menu { 
}
div.background{
 /* background: linear-gradient(122.5deg, rgba(16, 38, 82, 0.498039), rgba(255, 255, 255, 0)), url("../assets/images/background.jpg") 50% 50% no-repeat fixed;*/
}
div.bgResult{
  background: linear-gradient(122.5deg, rgba(16, 38, 82, 0.498039), rgba(255, 255, 255, 0)), url("../assets/images/background.jpg") 50% 50% no-repeat fixed;  
}
#homeModal{
  margin-top:5%;
}
#whiteTop{
  height: 35px;
    position: static;
    background-color: white;
}
#whiteBottom{
   height: 35px;
   width:100%;
    position: absolute;
    bottom:0%;
    background-color: white;
}
.wbResult{
  height: 35px;
   width:100%;
    position: static !important;
    bottom:0%;
    background-color: white;
}
.timerB{
  height: 37px;
   width:100%;
    position: static !important;
    bottom:0%;
    background-color: white;
}
#Upper{
  color:#fff;
}
#Left{
  color:#fff;
}
#Right{
  color:#fff;
}
#Below{
  color:#fff;
}
#upperSpan{margin-top:140px;
  display:block;
  text-align:center; width:100%;
  font-size:18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:#fff;
}
#leftSpan{
  display:block;
  text-align:center; width:100%;
  font-size:18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:#fff;
}
#rightSpan{
  display:block;
  text-align:center; width:100%;
  font-size:18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:#fff;
}
#belowSpan{
  display:block;
  text-align:center; width:100%;
  font-size:18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:#fff;
}
.back{
  display:none;
  margin-left:20px;
  margin-top:30px;
}
.back img{
  display:none;
  margin-top: 35px;
  width: 35px;
  height: 35px;
}
#cottonDiv{
  display:block;
  text-align: center;
}
#woolDiv{
  display:block;
  text-align: center;
}
#silkDiv{
  display:block;
  text-align: center;
}
#fabricsHeading{
  text-align: center;
  margin-top: 20px;
  display: block;
}
#firstImg{
  width:80px; height:80px;
}
#secondImg{
  width:80px; height:80px;
}
#thirdImg{
  width:80px; height:80px;
}
.white-bordered-text{
  font-size:14px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:#fff;
}
#backFabrics{
  display:none;
}
#fabricsCenter{
}
#subCenter{
  margin-top: 40px;
}
#subFirstDiv{
  margin-top:20px;
  display:block;
  text-align: center;
}
#subFirstDiv h2{
  margin-left:20px;margin-top:10px;
}
#subSecondDiv{
  display:block;
  text-align: center;
}
#subSecondDiv h2{
  margin-left:25px;margin-top:10px;
}
#fourthImg{
  width:120px; height:120px;
}
#fifthImg{
  width:120px; height:120px;
}
#listCenter{
}
#firstList{
  margin-top: 30px;
    height:100%;
    vertical-align: middle;
}
#firstList a{
  display:inline-flex;
   cursor:pointer;
}
#firstList h2{
  display: inline-block;
    margin-left: 20px;
}
#secondList{
    height:100%;
    vertical-align: middle;
}
#secondList a{
   display:inline-flex;
cursor:pointer;
}
#secondList h2{
  display: inline-block;
    margin-left: 20px;
}
#thirdList{
    height:100%;
    vertical-align: middle;
}
#thirdList a{
   display:inline-flex;
 cursor:pointer;
}
#thirdList h2{
display: inline-block;
    margin-left: 20px;
}
#fourthList{
    height:100%;
    vertical-align: middle;
}
#fourthList a{
   display:inline-flex;
 cursor:pointer;
}
#fourthList h2{
display: inline-block;
    margin-left: 20px;
}
#fifthList{
    height:100%;
    vertical-align: middle;
}
#fifthList a{
   display:inline-flex;
 cursor:pointer;
}
#fifthList h2{
display: inline-block;
    margin-left: 20px;
}
#sixthList{
    vertical-align: middle;
}
#sixthList a{
   display:inline-flex;
  cursor:pointer;
}
#sixthList h2{
display: inline-block;
    margin-left: 20px;
}

#listImg1{
  width:50px; height:50px; 
}
#listImg2{
  width:50px; height:50px; 
}
#listImg3{
  width:50px; height:50px; 
}
#listImg4{
  width:50px; height:50px; 
}
#listImg5{
  width:50px; height:50px; 
}
#listImg6{
  width:50px; height:50px; 
}
#listBar{
  margin-top:30px;
  margin-left:0px;
  display: inline-block;
  float: left;
}
#listBack{
  display:none;
}
#fireFlames{
  margin-top: 60px;
  text-align: center;
  display: block;
}
#fireFlames *{
  vertical-align: middle;
}
#fireFlames2{
  display: none;
}
#mailImg{
    height: 200px;
}
#containerImg{
 left: 35%;
    top: 17%;
    position: absolute;
    display: inline-block;
    height: 80px;
    width: 100px;
}
#materialImg{
   left: 39%;
    position: absolute;
    display: inline-block;
    height: 80px;
    width: 75px;
    top: 17%;
}
#prgTxt{
  font-size: 12px;
 display:block;
  text-align: center;
}
#prgMain{
  display:inline-block;
  width:50%;
}
#timeSelector{
  margin-bottom: 1em;
  display:block;
  text-align: center;
  margin-top:0px;
}
#timeSelector h2{
  font-size: 12px;
}
.dropdown-menu{
  left:25% !important;
  position: relative;
  text-align: center;
  width: 50%;
  float:none;
}
#timerBack{
  position:absolute;
  top:20%;
}
#mordentCenter{
  margin-top: 20px;
}
#mordentFirst{
  display:block;
  text-align: center;
}
#mordentFirst img{
  width:80px; height:80px;
}
#mordentFirst h2{
  font-size: 16px;
}
#mordentSecond{
  display:block;
  text-align: center;
}
#mordentSecond img{
  width:80px; height:80px;
}
#mordentSecond h2{
  font-size: 16px;
}
#mordentThird{
  display:block;
  text-align: center;
}
#mordentThird img{
  width:80px; height:80px;
}
#mordentThird h2{
  font-size: 16px;
}
#resultMain{
  
}
#resultSub{
  text-align: center;
  display: block;
}
#resultSub h1{
  font-size:24px;
}
#imgContainerResult{
}
#imgContainerResult img{
  width:100%; height:100%; border:2px solid white;
}
#sCollection{
  z-index: 999;
}
#sCollection h2{
  text-align:center;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;color: #fff;
}
#collectionImg{
  width:260px; height:220px;
}
#sCollection h4{
  color:#fff;
  text-align:center;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;color: #fff;
}
#historyCenter{
  width:100%;z-index: 999;display: block;text-align: center;height:380px; overflow:scroll;margin-top:50px;
}
#historyImages{
  width:150px;
  height:150px;
  margin-bottom: 30px;
}
#craftsCenter{
   width:100%;z-index: 999;display: block;text-align: center;height:380px; overflow:scroll;margin-top:50px;
}
#craftsDiv{
  width:100%;z-index: 999;
}
#craftsImages{
  width:150px;
  height:150px;
  margin-bottom: 30px;
}
#dW{
  width:100%;
}
#dWI{
  width:100%; height:100%;
}
#dW2{
  width:100%;height:10%;
}
#dWI2{
  max-height:200px;
  max-width:200px;
}
@media (max-width: 601px) and (orientation: portrait) {
  #nofocusvideo{
    width:100% !important;max-width:601px !important; 
  }
}
@media (max-width: 768px) and (orientation: landscape)  {
  #nofocusvideo{
    width:100% !important;max-width:768px !important; 
  }
}