html{
  height:100%;
  width:100%;
}
body{
  font-family: Impact, Charcol;
  height:100%;
  width:100%;
}
#container{
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height:100%;
}
#logo{
    position: absolute;
    top: 7%;
    left: 78%;
    z-index: 2000;
}
div.background {
  position:absolute;
  min-height:100%;
  min-width:100%;
  background: linear-gradient(rgba(16, 38, 82,0.5), rgba(255, 255, 255,0.0)), url(../assets/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: 100% 100% !important;
  -moz-background-size: 100% 100% !important;
  -o-background-size: 100% 100% !important;
  background-size: 100% 100% !important;
}
div.backgroundInterval {
  position:absolute;
  min-height:100%;
  min-width:100%;
  background: linear-gradient(rgba(16, 38, 82,0.5), rgba(255, 255, 255,0.0)), url(../assets/images/background-interval.png) no-repeat center center fixed; 
  -webkit-background-size: 100% 100% !important;
  -moz-background-size: 100% 100% !important;
  -o-background-size: 100% 100% !important;
  background-size: 100% 100% !important;
}
div.background-menu {
  position:absolute;
  min-height:100%;
  min-width:100%;
  background: radial-gradient(at 50% 50%, rgba(16, 38, 82,0.7) 2%, rgba(255, 255, 255,-2.0) 50%), url(../assets/images/menubackground.png) no-repeat center center fixed; 
 -webkit-background-size: 100% 100% !important;
  -moz-background-size: 100% 100% !important;
  -o-background-size: 100% 100% !important;
  background-size: 100% 100% !important;
}
div.transbox {
  text-align: center;
  margin: 30px;
}
div.transbox span a{
  display:inline-block;
  font-size:21px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:#fff;
}
div.transbox span a:hover{
  display:inline-block;
  text-decoration: none;
}
#kitten {
  width: 900px;
  height:700px;
}
/*#rectangular{
  clip-path: inset(190px 445px 360px 172px);
  -webkit-clip-path: inset(190px 445px 360px 172px);  
}
#circle{
  -webkit-clip-path: circle(75px at 50% 50%);
  clip-path: circle(75px at 50% 50%)
}
#ellipse{
  -webkit-clip-path: ellipse(75px 50px at 50% 50%);
  clip-path: ellipse(75px 50px at 50% 50%);
}
#polygon{
  -webkit-clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
  clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}*/
.button {
    position: absolute;
    bottom: 40px;
    left:47%;
}
.img-circle {
    border-radius: 50%;
}
.white-bordered-text{
  display:inline-block;
  font-size:18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:#fff;
}
.center-div{
  position: absolute;
  top: 40%;
  left: 35%;
  width: 100%;
  height: 100px;
}
.back img{
  position:fixed;
  top:45%;
  left:65px;
  height:50px;
  width:50px;
}
#slider2 .rs-border  {
    border-width: 0px;
}
#slider2 .rs-border.rs-outer  {
    border: 12px solid #DEBDBD;
}
#slider2 .rs-range-color  {
    background: #CE0000;
}
#slider2 .rs-handle  {
    background: #EF0F0F;
    margin-left: 0 !important;
}
.menuBtn a:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari */
  -moz-transform: scale(1.1); /* Safari */
  transform: scale(1.1);
}
.anchorHover{
  width:100%;
}
ul.rig {
  list-style: none;
  font-size: 0px;
  margin-left: 4.0%; /* should match li left margin */
}
ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 1.0% -25px 1.5% 3%;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}
ul.rig li h3 {
  margin: 0 0 5px;
}
ul.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
  width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
  width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
  width: 22.5%; /* this value + 2.5 should = 25% */
}
 
@media (max-width: 480px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig li {
    width: 100% !important; /* over-ride all li styles */
    margin: 0 0 20px;
  }
}
.red-tooltip + .tooltip > .tooltip-inner {width:200px;}
a{
  cursor:pointer;
}div.container {
  display: inline-block;
}
/*p {
    font-family: Impact, Charcol;
}
h1 {
    font-family: Impact, Charcol;
}
h2 {
    font-family: Impact, Charcol;
}
h3 {
    font-family: Impact, Charcol;
}
h4 {
    font-family: Impact, Charcol;
}*//*.scroller {
    white-space: pre-line;
    height: 500px;
    overflow-y: hidden;
    position: relative;
}*/
h1 {
  font-family: Cabin;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.4px;
}
h2 {
  font-family: Cabin;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.4px;
}
h3 {
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 36px;
}
span a {
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 36px;
}
a {
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 36px;
}
h3 {
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 36px;
}
p {
  font-family: Cabin;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 20px;
}
blockquote {
  font-family: Cabin;
  font-size: 17.5px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 12.25px;
}
pre {
  font-family: Cabin;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 18.5714px;
}