/*html {
  background: url(../assets/images/bgPic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
html{
  height:100%;
  width:100%;
}
body{
  height:100%;
  width:100%;
}
div.background {
  position:fixed;
  min-height:100%;
  min-width:100%;
  background: url(../assets/images/bgPic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.transbox {
  text-align: center;
  margin: 30px;
  opacity: 1.0;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  left:25%;
  width:50%;
  top:100px;
    position: relative;
  -webkit-animation: mymove 3s 1; /* Chrome, Safari, Opera */
  animation: mymove 3s 1;
  font-weight: bold;
  font-size:18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fff;
}

div.transbox span a{
  display:inline-block;
  font-size:18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:#fff;
}

div.transbox span a:hover{
  display:inline-block;
  text-decoration: none;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 100px;}
}

/* Standard syntax */
@keyframes mymove {
    from {top: 0px;}
    to {top: 100px;}
}

.button {
    position: absolute;
    bottom: 30%;
    left:48%;
}
.img-circle {
    border-radius: 50%;
}
.white-bordered-text{
  display:inline-block;
  font-size:18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:#fff;
}
.center-div{
  position: absolute;
  top: 40%;
  left: 40%;
  width: 100%;
  height: 100px;
}
.back img{
  position:absolute;
  top:40%;
  height:50px;
  width:50px;
}
.anchorHover{
  width:100%;
}
