<div class="background">
	<div class="center-div">
		<div>
			<a href="#list-menu"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/bgPic.jpg" style="width:150px; height:150px;"></a>
			<a href="#list-menu"><img id="secondImg" class="img-circle animated slideInRight" src="assets/images/bgPic.jpg" style="width:150px; height:150px; margin-left:20px;"></a>
		</div>
		<div>
			<h2 class="white-bordered-text" style="margin-left:20px;">Dyeing Materials</h2>
			<h2 class="white-bordered-text" style="margin-left:30px;">Mordents Bath</h2>
		</div>
	</div>
	<a class="back" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
</div>