<div class="background">
	<div id="whiteTop"></div>
	<div id="subCenter" class="center-div">
		<div>
			<div id="subFirstDiv" class="anchorHover">
				<a ng-click='selectBA("after","dm")' style="cursor:pointer"><img id="fourthImg" class="img-circle animated slideInLeft" src="assets/images/manjeeth.png"><h2 class="white-bordered-text">DYEING MATERIALS</h2></a>	
			</div>
			<div id="subSecondDiv" class="anchorHover">
				<a ng-click='selectBA("before","mb")' style="cursor:pointer"><img id="fifthImg" class="img-circle animated slideInRight" src="assets/images/alum.png" style=""><h2 class="white-bordered-text">MORDENTS BATH</h2></a>
			</div>
		</div>
	</div>
	<a id="backFabrics" class="back animated bounceIn" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
<div id="whiteBottom"></div>
</div>