<div class="background">
	<div style="width:100%; z-index:1000; height:78px; background-color:white;position:absolute;top:0%;"></div>
	<div class="center-div" style="left:35%; top:35%;">
		<div>
			<div class="anchorHover" style="width:210px;float:left;">
				<a href="#list-menu"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/manjeeth.png" style="width:150px; height:150px;margin-left:20px;"><h2 class="white-bordered-text" style="margin-left:20px;margin-top:30px;">DYEING MATERIALS</h2></a>	
			</div>
			<div class="anchorHover" style="width:220px;float:left;margin-left:10px;">
				<a href="#mordents-page"><img id="secondImg" class="img-circle animated slideInRight" src="assets/images/alum.png" style="width:150px; height:150px; margin-left:20px;"><h2 class="white-bordered-text" style="margin-left:25px;margin-top:30px;">MORDENTS BATH</h2></a>
			</div>
		</div>
	</div>
	<a class="back animated bounceIn" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
<div style="width:100%; z-index:1000; height:78px; background-color:white;position:absolute;bottom:0%;"></div>
</div>