<div class="background">
	<div id="whiteTop"></div>
	<div id="mordentCenter" class="center-div">
		<div> 
			<div id="mordentFirst" class="anchorHover">
				<a style="cursor:pointer;" ng-click='selectMordent("vinegar&nbsp;iron","vinigar")'><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/vinigariron.png"><h2 class="white-bordered-text">VINEGAR IRON</h2></a>	
			</div>
			<div id="mordentSecond" class="anchorHover">
				<a style="cursor:pointer;" ng-click='selectMordent("ash&nbsp;water","ash")'><img id="secondImg" class="img-circle animated slideInDown" src="assets/images/ashwater.png"><h2 class="white-bordered-text">ASH WATER</h2></a>
			</div>
			<div id="mordentThird" class="anchorHover">
				<a style="cursor:pointer;" ng-click='selectMordent("alum","alum")'><img id="secondImg" class="img-circle animated slideInRight" src="assets/images/alum.png"><h2 class="white-bordered-text">ALUM</h2></a>
			</div>
		</div>
	</div>
	<a id="backFabrics" class="back animated bounceIn" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
	<div id="whiteBottom"></div>
</div>