<div class="background">
	<div style="width:90%;z-index: 4000;position: relative;">
    <ul class="rig columns-3">
    	<li class="animated bounceInDown hoverEffect">
    		<img src="assets/images/history.png" />
            <hr/>
    		<h3>Image Title</h3>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    	</li>
    	<li class="animated bounceInDown hoverEffect">
    		<img src="assets/images/material.png" />
    		<h3>Image Title</h3>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    	</li>
    	<li class="animated bounceInDown hoverEffect">
    		<img src="assets/images/material.png" />
    		<h3>Image Title</h3>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    	</li>
    	<li class="animated bounceInDown hoverEffect">
    		<img src="assets/images/material.png" />
    		<h3>Image Title</h3>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    	</li>
    	<li class="animated bounceInDown hoverEffect">
    		<img src="assets/images/material.png" />
    		<h3>Image Title</h3>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    	</li>
    	<li class="animated bounceInDown hoverEffect">
    		<img src="assets/images/material.png" />
    		<h3>Image Title</h3>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    	</li>
    </ul>
</div>
<div style="position:relative; z-index:5000;">
        <a class="back animated bounceIn" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
    </div>
</div>