<div class="background">
    <div id="whiteTop"></div>
    <div id="craftsCenter">

<div id="craftsDiv">
    <ul class="rig columns-3">
       <li class="animated bounceInDown hoverEffect" ng-repeat="img in imagesCollection.urls">
           <a data-toggle="modal" data-target="#myModal" style="cursor:pointer;text-decoration:none;">
            <img id="craftsImages" ng-src="{{baseUrl}}/{{img.url}}" ng-click="selectImage($index)" />
            </a>
        </li>
    </ul>
    <div style="height:100px;"></div>
</div>
<div style="position:relative; z-index:4000;">
        <a class="back animated bounceIn" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
    </div>
    <div id="whiteBottom"></div>
</div>
<div id="myModal" class="modal fade" role="dialog" style="z-index:5000;">
  <div id="dW" class="modal-dialog">
    <img id="dWI" ng-src="{{baseUrl}}/{{selectedImg}}" />
  </div>
</div>