<div class="background-menu">
  <div class="transbox">
    <div style="width: 100%px;position:absolute; top:30%;left:22%;" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
		<img src="assets/images/title-text.png" class="animated zoomIn"/><br/>	
	</div>
	<a id="enterButton" href="#main-menu" class="btn btn-danger btn-default button animated rollIn">E&nbsp;N&nbsp;T&nbsp;E&nbsp;R</a>
	<div style="position:absolute;top:80%; left:42%;">
		<img src="assets/images/title-line.png" class="animated zoomIn"/>
	</div>
	<a id="enterButton2" data-toggle="modal" data-target="#myModal" class="btn btn-default buttonContact animated rollIn" style="color:white; background-color:rgba(100, 99, 102, 0.79); border-color: rgba(123, 123, 123, 0.72); font-weight:bold;">CONTACT US</a>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog" style="z-index:5000;">
  <div class="modal-dialog" style="width:900px;margin-top:5%;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      	Contact details
      </div>
      <div class="modal-body">
      	Email: <a style="font-weight:100"href="mailto:indigooriginal@yahoo.com">admin@neelindigo.com</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
     </div>
  </div>
</div>