<div class="background-menu">
  <div class="transbox">
    <div style="width: 100%px;position:absolute; top:30%;left:22%;" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
		<img src="assets/images/title-text.png" class="animated zoomIn"/><br/>	
	</div>
	<a id="enterButton" href="#main-menu" class="btn btn-danger btn-default button animated rollIn">E&nbsp;N&nbsp;T&nbsp;E&nbsp;R</a>
	<div style="position:absolute;top:80%; left:42%;">
		<img src="assets/images/title-line.png" class="animated zoomIn"/>
	</div>
	<a id="enterButton2" href="#main-menu" class="btn btn-default buttonContact animated rollIn" style="color:white; background-color:rgba(100, 99, 102, 0.79); border-color: rgba(123, 123, 123, 0.72); font-weight:bold;">CONTACT US</a>
  </div>
</div>