<div class="backgroundInterval">
	<div style="width:100%; z-index:1000; height:78px; background-color:white;position:absolute;top:0%;"></div>
    <div style="position:relative; z-index:5000;">
        <a class="back animated bounceIn" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" ng-click="cleartime()" onClick="javascript:window.history.go(-1); return false;" /></a>
    </div>
    <div style="width:100%; z-index:1000; height:78px; background-color:white;position:absolute;bottom:0%;"></div>
</div>