<div class="background">
	<div class="center-div">
		<div style="margin-left:150px;" class="animated fadeInDownBig">
			<h1 class="white-bordered-text" style="font-size:24px;">Fabrics</h1>
		</div>
		<div>
			<div class="anchorHover" style="width:50px;float:left;">
				<a href="#sub-menu"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/cotton.png" style="width:120px; height:120px;">
				<h2 class="white-bordered-text" style="margin-left:40px;">Cotton</h2>
			</a>
			</div>
			<div class="anchorHover" style="width:50px;float:left;margin-left:70px;">
				<a class="anchorHover" href="#sub-menu"><img id="secondImg" class="img-circle animated slideInDown" src="assets/images/wool.png" style="width:120px; height:120px;"><h2 class="white-bordered-text" style="margin-left:45px;">Wool</h2>
			</a>
			</div>
			<div class="anchorHover" style="width:50px;float:left;margin-left:80px;">
				<a class="anchorHover" href="#sub-menu"><img id="thirdImg" class="img-circle animated slideInRight" src="assets/images/silk.png" style="width:120px; height:120px;"><h2 class="white-bordered-text" style="margin-left:49px;">Silk</h2></a>
			</div>
		</div>
		<div>
			
		</div>
	</div>
	<a class="back" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
</div>