<div class="background">
	<div class="center-div">
		<div style="margin-left:120px;" class="animated fadeInDownBig">
			<h2 class="white-bordered-text">Fabrics</h2>
		</div>
		<div>
			<a href="#sub-menu"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/cotton.png" style="width:100px; height:100px;"></a>
			<a href="#sub-menu"><img id="secondImg" class="img-circle animated slideInDown" src="assets/images/wool.png" style="width:100px; height:100px;"></a>
			<a href="#sub-menu"><img id="thirdImg" class="img-circle animated slideInRight" src="assets/images/silk.png" style="width:100px; height:100px;"></a>
		</div>
		<div>
			<h2 class="white-bordered-text" style="margin-left:20px;">Cotton</h2>
			<h2 class="white-bordered-text" style="margin-left:60px;">Wool</h2>
			<h2 class="white-bordered-text" style="margin-left:60px;">Silk</h2>

		</div>
	</div>
	<a class="back" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
</div>