<div class="background">
	<div id="whiteTop" style=""></div>
	<div id="fabricsCenter" class="center-div">
		<div id="fabricsHeading" class="animated fadeInDownBig">
			<h1 class="white-bordered-text">FABRICS</h1>
		</div>
		<div>
			<div id="cottonDiv"class="anchorHover">
				<a ng-click='goToSubMenu("cotton")' style="cursor:pointer;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/cotton.png">
				<h2 class="white-bordered-text">COTTON</h2>
			</a>
			</div>
			<div id="woolDiv" class="anchorHover">
				<a ng-click='goToSubMenu("wool")' style="cursor:pointer;"><img id="secondImg" class="img-circle animated slideInDown" src="assets/images/wool.png"><h2 class="white-bordered-text">WOOL</h2>
			</a>
			</div>
			<div id="silkDiv" class="anchorHover">
				<a ng-click='goToSubMenu("silk")' style="cursor:pointer;"><img id="thirdImg" class="img-circle animated slideInRight" src="assets/images/silk.png"><h2 class="white-bordered-text">SILK</h2></a>
			</div>
		</div>
	</div>
	<a id="backFabrics" class="back animated bounceIn" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
	<div id="whiteBottom"></div>	
</div>