<div class="background">
	<div style="width:90%;">
    <ul class="rig columns-3">
    	<li class="animated bounceInDown hoverEffect">
    		<img src="assets/images/history.png" />
    	</li>
    	<li class="animated bounceInDown hoverEffect">
    		<img src="assets/images/history.png" />
    	</li>
    	<li class="animated bounceInDown hoverEffect">
    		<img src="assets/images/history.png" />
    	</li>
    	<li class="animated bounceInDown hoverEffect">
    		<img src="assets/images/history.png" />
    	</li>
    	<li class="animated bounceInDown hoverEffect">
    		<img src="assets/images/history.png" />
    	</li>
    	<li class="animated bounceInDown hoverEffect">
    		<img src="assets/images/history.png" />
    	</li>
        <li class="animated bounceInDown hoverEffect">
            <img src="assets/images/history.png" />
        </li>
        <li class="animated bounceInDown hoverEffect">
            <img src="assets/images/history.png" />
        </li>
    </ul>
</div>
<a class="back" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
</div>