<div class="background">
    <div id="whiteTop"></div>
	<div id="historyCenter">
        <ul class="rig columns-3">
            <a data-toggle="modal" data-target="#myModal" style="cursor:pointer;text-decoration:none;" ng-repeat="img in imagesCollection.urls">
            	<li class="animated bounceInDown hoverEffect">
            		<img id="historyImages" ng-src="{{baseUrl}}/{{img.url}}" ng-click="selectImage($index)" />
            	</li>
            </a>
        </ul>
        <div style="height:100px;"></div>
    </div>
    <div style="position:relative; z-index:5000;">
        <a class="back animated bounceIn" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
    </div>
    <div id="whiteBottom"></div>
</div>
<div id="myModal" class="modal fade" role="dialog" style="z-index:5000;">
  <div id="dW2" class="modal-dialog">
    <img id="dWI2" ng-src="{{baseUrl}}/{{selectedImg}}" height="500" />
  </div>
</div>