<div class="background">
	<div style="width:440px; margin-top:75px;">
		<div class="anchorHover">
		<a href="#timer-page" style="right:0px;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/pomegranate.png" style="width:67px; height:67px; margin-left:25%;">
		<h2 class="white-bordered-text animated fadeInDownBig" style="margin-left:20px;">POMEGRANATE</h2></a><br/><br/>
		</div>
		<div class="anchorHover">
		<a id="anchorHover1" href="#timer-page" style="right:0px;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/madder.png" style="width:67px; height:67px; margin-left:35%;"><h2 class="white-bordered-text animated fadeInDownBig" style="margin-left:20px;">MADDER</h2>
		</a><br/><br/>
		</div>
		<div class="anchorHover">
		<a id="anchorHover2" href="#timer-page" style="right:0px;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/alkanet.png" style="width:67px; height:67px; margin-left:45%;"><h2 class="white-bordered-text animated fadeInDownBig" style="margin-left:20px;">ALKANET</h2>
		</a><br/><br/>
		</div>
		<div class="anchorHover">
		<a id="anchorHover3" href="#timer-page" style="right:0px;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/myrobalan.png" style="width:67px; height:67px; margin-left:45%;"><h2 class="white-bordered-text animated fadeInDownBig" style="margin-left:20px;">MYROBALAN</h2>
		</a><br/><br/>
		</div>
		<div class="anchorHover">
		<a id="anchorHover4" href="#timer-page" style="right:0px;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/onionskin.png" style="width:67px; height:67px; margin-left:35%;"><h2 class="white-bordered-text animated fadeInDownBig" style="margin-left:20px;">ONION SKIN</h2>
		</a><br/><br/>
		</div>
		<div class="anchorHover">
		<a id="anchorHover5" href="#timer-page" style="right:0px;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/turmeric.png" style="width:67px; height:67px; margin-left:25%;"><h2 class="white-bordered-text animated fadeInDownBig" style="margin-left:20px;">TUMERIC</h2>
		</a><br/><br/>
		</div>
	</div>
	<a class="back animated bounceIn" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
</div>