<div class="background">
	<div style="width:440px;">
		<div class="anchorHover">
		<a href="#timer-page" style="right:0px;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/bgPic.jpg" style="width:90px; height:90px; margin-left:25%;">
		<h2 class="white-bordered-text animated fadeInDownBig" style="margin-left:20px;">Neem</h2></a><br/><br/>
		</div>
		<div class="anchorHover">
		<a id="anchorHover1" href="#timer-page" style="right:0px;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/bgPic.jpg" style="width:90px; height:90px; margin-left:35%;"><h2 class="white-bordered-text animated fadeInDownBig" style="margin-left:20px;">Madder</h2>
		</a><br/><br/>
		</div>
		<div class="anchorHover">
		<a id="anchorHover2" href="#timer-page" style="right:0px;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/bgPic.jpg" style="width:90px; height:90px; margin-left:45%;"><h2 class="white-bordered-text animated fadeInDownBig" style="margin-left:20px;">Red Rot</h2>
		</a><br/><br/>
		</div>
		<div class="anchorHover">
		<a id="anchorHover3" href="#timer-page" style="right:0px;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/bgPic.jpg" style="width:90px; height:90px; margin-left:45%;"><h2 class="white-bordered-text animated fadeInDownBig" style="margin-left:20px;">Laal Sandal</h2>
		</a><br/><br/>
		</div>
		<div class="anchorHover">
		<a id="anchorHover4" href="#timer-page" style="right:0px;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/bgPic.jpg" style="width:90px; height:90px; margin-left:35%;"><h2 class="white-bordered-text animated fadeInDownBig" style="margin-left:20px;">Kekar</h2>
		</a><br/><br/>
		</div>
		<div class="anchorHover">
		<a id="anchorHover5" href="#timer-page" style="right:0px;"><img id="firstImg" class="img-circle animated slideInLeft" src="assets/images/bgPic.jpg" style="width:90px; height:90px; margin-left:25%;"><h2 class="white-bordered-text animated fadeInDownBig" style="margin-left:20px;">Haldi</h2>
		</a><br/><br/>
		</div>
	</div>
	<a class="back" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
</div>