<div class="background">
  <div class="transbox">
    <span class="animated rollIn" style="position:absolute; top:100px; text-align:center; width:150px; left:45%;">
    	<a id="Upper" href="#">NATURAL DYEING VIDEO</a>
    </span>
    <span class="animated rollIn" style="position:absolute; left:100px; text-align:center; width:220px; top:50%;">
    	<a id="Left" href="#">INTERACTIVE NATURAL DYEING EXPERIENCE</a>
    </span>
    <span class="animated rollIn" style="position:absolute; right:100px; text-align:center; width:80px; top:50%;">
    	<a id="Right" href="#">HISTORIC PERSPECTIVE</a>
    </span>
    <span class="animated rollIn" style="position:absolute; bottom:100px; text-align:center; width:80px; left:48%;">
    	<a id="Below" href="#">CRAFT SHOP</a>
    </span>
  </div>
</div>