<div class="background-menu">
  <div class="transbox">
    <span class="animated rollIn" style="position:absolute; top:100px; text-align:center; width:150px; left:45%;">
    	<a id="Upper" style="cursor:pointer" data-toggle="modal" data-target="#myModal">NATURAL DYEING VIDEO</a>
    </span>
    <span class="animated rollIn" style="position:absolute; left:100px; text-align:center; width:220px; top:50%;">
    	<a id="Left" href="#type-menu">INTERACTIVE NATURAL DYEING EXPERIENCE</a>
    </span>
    <span class="animated rollIn" style="position:absolute; right:100px; text-align:center; width:80px; top:50%;">
    	<a id="Right" href="#history-page">HISTORIC PERSPECTIVE</a>
    </span>
    <span class="animated rollIn" style="position:absolute; bottom:100px; text-align:center; width:80px; left:48%;">
    	<a id="Below" href="#crafts-page">CRAFT SHOP</a>
    </span>
  </div>
  <a class="back" ng-class="icons" style="cursor:pointer;"><img src="assets/images/back-button.png" onClick="javascript:window.history.go(-1); return false;" /></a>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NATURAL DYEING VIDEO</h4>
      </div>
      <div class="modal-body">
        <video width="550" controls>
          <source src="assets/video/small.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>